

body {
    padding-left: 10px;
    padding-top: 10px;
}

.box {
    fill: rgb(180,180,240);
}

.box.active {
    fill: rgb(240,240,100);
}

.box.active:hover {
    fill: rgb(200,200,100);
}


/**************/
/* Model-List */
/**************/

#model-list {
    width: 600px;
}


/*************/
/* Model-Row */
/*************/

.model-row {
    clear: both;
    height: 40px;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    line-height: 40px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
}

.row-equation {
    float: left;
    height: 40px;
    width: 640px;
}

.row-controls {
    float: right;
    height: 40px;
    width: 140px;
}

.row-active {
    float: right;
    padding-top: 10px;
    width: 30px;
}

.row-delete {
    float: right;
    margin-top: 10px;
}

.row-clone {
    float: right;
    margin-top: 10px;
}

.term-coefficient {
    float: left;
    height: 30px;
    width: 50px;
    margin-top: 5px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.term-coefficient:hover {
    border: 2px solid lightblue;
}

.term-coefficient:focus {
    border: 2px solid darkblue;
    cursor: auto;
}

.term-sign {
    float: left;
    min-width: 25px;
    font-size: 16px;
    text-align: right;
}

.term-order {
    float: left;
    height: 40px;
    line-height: 32px;
}


/***************/
/* Popup-Modal */
/***************/

#popup-modal {
    display: none;
    position: absolute;
    width: 400px;
    height: 200px;
    line-height: 32px;
    background-color: red;
}

#popup-modal-header {
    width: 400px;
    height: 40px;
    background-color: red;
}

#popup-modal-contents {
    width: 400px;
    height: 120px;
    background-color: green;
}

#popup-modal-footer {
    width: 400px;
    height: 40px;
    background-color: blue;
}
