

body {
    padding-left: 10px;
    padding-top: 10px;
}

.box {
    fill: rgb(180,180,240);
}

.box.active {
    fill: rgb(240,240,100);
}

.box.active:hover {
    fill: rgb(200,200,100);
}


/**************/
/* Model-List */
/**************/

#model-list {
    width: 600px;
}


/*************/
/* Model-Row */
/*************/

.model-row {
    clear: both;
    height: 40px;
    width: 600px;
    padding-left: 10px;
    margin-top: 5px;
    line-height: 40px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
}

.row-equation {
    float: left;
    height: 40px;
    width: 400px;
}

.row-controls {
    float: right;
    height: 40px;
    width: 180px;
}

.row-active {
    float: left;
    padding-top: 10px;
    width: 30px;
}

.row-delete {
    float: left;
    margin-top: 10px;
}

.term-coefficient {
    float: left;
    height: 30px;
    width: 50px;
    margin-top: 5px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.term-coefficient:hover {
    border: 2px solid lightblue;
}

.term-coefficient:focus {
    border: 2px solid darkblue;
    cursor: auto;
}

.term-sign {
    float: left;
    width: 25px;
    font-size: 16px;
    text-align: right;
}

.term-order {
    float: left;
    height: 40px;
    line-height: 32px;
}
